/* Colors */
/* Typography */
/* Layout */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  color: #494c5f;
}

.container {
  display: grid;
  justify-content: center;
  align-content: start;
  background: url("../../../images/bg-top.svg") no-repeat right top, url("../../../images/bg-bottom.svg") no-repeat left bottom;
  background-size: auto 75%, auto 35%;
  background-color: #f6f6fe;
  height: 100%;
  font-weight: 700;
  padding: 2em;
}

.title {
  margin-top: 1em;
  color: #6d708d;
}

.switch {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #b3b5c6;
  margin-bottom: 3em;
}

.switch__option__left {
  text-align: right;
  margin-right: 1em;
}

.switch__option__right {
  text-align: left;
  margin-left: 1em;
}

.switch__label {
  position: relative;
  width: 60px;
  height: 34px;
  justify-self: center;
}

.switch__input {
  visibility: hidden;
}

.switch__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
  cursor: pointer;
}

.switch__slider:before {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch__input:checked + .switch__slider {
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  opacity: 0.5;
}

.switch__input:focus + .switch__slider {
  box-shadow: 0 0 1px #a3a8f0;
}

.switch__input:checked + .switch__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.card__item {
  background-color: #fff;
  border-radius: 10px;
  padding: 3em;
  box-shadow: rgba(179, 181, 198, 0.3) 0 0 20px;
}

.card__item--highlight {
  background: linear-gradient(to bottom right, #a3a8f0, #696fdd);
  color: #fff;
  padding: 4em 3em 4em 3em;
}

.card__title {
  margin: 0;
}

.card__dollar {
  font-size: calc(2 * 15px);
  vertical-align: middle;
  margin-right: 10px;
}

.card__price {
  font-size: calc(4 * 15px);
  margin: 0;
  padding-bottom: 20px;
}

.none {
  display: none;
}

.card__list {
  list-style: none;
  padding: 0;
}

.card__list li:first-child {
  border-top: 1px solid rgba(179, 181, 198, 0.5);
}

.card__list li {
  border-bottom: 1px solid rgba(179, 181, 198, 0.5);
  padding: 15px 0 15px 0;
}

.card__btn {
  border: none;
  border-radius: calc(10px / 2);
  padding: 1em;
  width: 100%;
  margin-top: 15px;
  text-transform: uppercase;
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  color: #fff;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
}
.card__btn:hover {
  background: none;
  border: 1px solid #6d708d;
  color: #696fdd;
}

.card__item--highlight .card__btn {
  background: #fff;
  color: #696fdd;
}
.card__item--highlight .card__btn:hover {
  background: none;
  border: 1px solid #fff;
  color: #fff;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1em 0 1em 0;
  font-weight: 400;
}

.attribution a {
  color: #3e52a3;
}

/*# sourceMappingURL=style.css.map */
